* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}
header > a {
  color: cadetblue;
  font-weight: 700;
  text-decoration: none;
}
.nav a {
  color: blue;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 700;
}

.nav a:hover {
  border-bottom: 2px solid blue;
}
.firstLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 180px;
  width: 50%;
}
.sp1 {
  font-weight: 700;
  text-transform: uppercase;
  color: blue;
  font-size: 35px;
}
.abc {
  color: blue;
  font-size: 25px;
  width: 80%;
}
.firstLeft a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: cadetblue;
}

.first {
  display: flex;
  overflow: hidden;
}
.firstleftbutton a:nth-child(1) {
  background-color: orange;
  color: white;
  padding: 10px 20px;
}
.firstleftbutton a:nth-child(2) {
  color: orange;
  padding: 10px 20px;
  margin-left: 30px;
}

.turn {
  display: flex;
}
.turn img {
  border-radius: 30% 20%;
  transform: rotate(15deg);
  width: 100%;
  margin-top: 20px;
}
.firstleftbutton {
  display: flex;
}
.thriveTop {
  background-color: rgb(57, 166, 235);

  display: flex;
  color: white;
}

.thriveTop-left {
  display: flex;
  margin-left: 180px;
  flex-direction: column;
}
.thriveTop-left h2 {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 30px;
}
.thriveTop-left span {
  margin: 10% 10% 10% 0;
  font-size: 20px;
}
.thrivebottom {
  display: flex;
  margin-top: 150px;
  color: blue;
  font-weight: 700;
}
.thrivebottom span {
  width: 30%;
  margin: 0 auto;
  font-size: 20px;
}
.thrivebottom p {
  margin-left: 80px;
}
.helping {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 400px;
  column-gap: 10px;
}
.helping p {
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  transition: 2s;
  font-weight: 700;
  font-size: 25px;
}
.helping p:hover {
  transform: translate(-20px, -20px);
}
.helping p:nth-child(1) {
  background-color: pink;
}
.helping p:nth-child(2) {
  background-color: greenyellow;
}
.helping p:nth-child(3) {
  background-color: rgb(57, 166, 235);
}
.helping p:nth-child(4) {
  background-color: blue;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.help img {
  width: 20px;
  margin-right: 10px;
  animation-name: pulsing;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid p {
  color: white;
  border-top: 4px solid white;
  margin-right: 40px;
  margin-top: 50px;
  padding-top: 20px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: 700;
}
.grid div {
  height: 400px;
}
.grid div:nth-child(1) {
  background-color: rgb(26, 29, 58);
}
.grid div:nth-child(2) {
  background-color: blue;
}
.grid div:nth-child(3) {
  background: url("./joanna-kosinska-340748.png") center no-repeat;
  background-size: cover;
}
.grid div:nth-child(4) {
  background-color: rgb(57, 166, 235);
}
.grid div:nth-child(5) {
  background-color: gainsboro;
}
.grid div:nth-child(6) {
  background-color: blueviolet;
}
.white {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}
.white div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}
.white p {
  color: blue;
  margin-top: 40px;
  font-size: 26px;
}
.white span {
  margin-top: 20px;
  color: gray;
  font-size: 20px;
}
.sofa {
  display: flex;
}
.sofa div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 150px;
  color: blue;
  width: 40%;
}
.sofa div a {
  text-decoration: none;
  font-weight: 700;
}

.sofa div a:nth-child(3) {
  color: orange;
  font-weight: 700;
}
.sofa img {
  width: 30%;
}

.sofa span {
  font-size: 30px;
  font-weight: 900;
}
.sofa span a {
  color: rgb(57, 166, 235);
}

.smale {
  display: flex;
  background-color: blue;
  justify-content: space-between;
}
.smale div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 150px;
  color: white;
  width: 40%;
}
.smale img {
  height: 600px;
}
.smale h2 {
  font-size: 45px;
}
.smale span {
  font-size: 30px;
}
.smale div a {
  text-decoration: none;
  color: white;
}
.smale div a:nth-child(4) {
  color: rgb(57, 166, 235);
}
.flower {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.flower1 {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 100px auto;
  color: grey;
}
.flower1 span {
  margin: 50px 0;
  font-size: 18px;
}
.flower1 h3 {
  color: blue;
  font-size: 22px;
}
@keyframes pulsing {
  from {
  }
  to {
    transform: translateX(-40px);
  }
}
@media screen and (max-width: 1100px) {
  .thriveTop-left {
    margin-left: 90px;
  }
  .firstLeft {
    margin-left: 90px;
  }
  .thrivebottom span {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .thriveTop {
    flex-direction: column;
  }
  .thrivebottom {
    flex-direction: column;
  }

  .helping {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .white {
    grid-template-columns: repeat(2, 1fr);
  }
  .flower {
    grid-template-columns: repeat(2, 1fr);
  }

  .first {
    margin-top: 40px;
    flex-direction: column;
  }
  .firstLeft {
    width: 100%;
  }
  .sp1 {
    margin: 40px;
  }
  .abc {
    margin: 0 40px 40px 40px;
  }
  .firstleftbutton {
    margin: 0 0 40px 40px;
  }
  .turn img {
    transform: none;
    width: 80%;
  }
  .turn {
    justify-content: center;
    margin-bottom: 40px;
  }
}
